* {
    margin: 0;
    background-size: cover;
}

body {
    background-image: url(pic/bg.png);
    height: 100%;
}

.biggest {
    display: grid;
    max-width: 1103px;
    gap: 10px;
    margin: auto;
    grid-template-areas:
        "shop really buy obraz"
        "shop big big obraz"
        "humor big big bubbles"
        "chose chose memory bubbles";
        grid-template-rows: repeat(4, 168px);
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
}

.card {
    background-color: #D5D5D5;
    background-position: center;
    border-radius: 10px;

    &:is(.colomn-card) {
        display: flex;
        flex-direction: column;
    }

    &:is(.jc) {
        justify-content: space-between;
    }

    &:is(.shop) {
        grid-area: shop;
        overflow: hidden;
        background-image: url('pic/fish1.png');
    }

    &:is(.humor) {
        grid-area: humor;
        background-image: url(pic/humor.png);
    }

    &:is(.buy) {
        grid-area: buy;
        background: url('pic/buy.png'), linear-gradient(180deg, #D5D5D5 0%, #9ABCE4 100%);
    }

    &:is(.chose) {
        grid-area: chose;
        background: url('pic/vybor.png'), linear-gradient(100deg, #D5D5D5 1.01%, #9ABCE4 84.75%);
        background-repeat: no-repeat;
    }

    &:is(.memory) {
        grid-area: memory;
        background-image: url(pic/memory.png);
        background-position: bottom;
    }

    &:is(.obraz) {
        grid-area: obraz;
        background-image: url(pic/obraz.png);
    }

    &:is(.bubbles) {
        grid-area: bubbles;
        background: url('pic/bubbles.png'), linear-gradient(180deg, #D5D5D5 0%, #9ABCE4 100%);
        background-repeat: no-repeat;
    }

    &:is(.big) {
        grid-area: big;
        background-image: url(pic/big.png);
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    @media (max-width: 900px) {

        &:is(.ipad-obraz) {
            background-image: url('pic/obraz2.png');
        }
    }

    @media(max-width: 500px) {

        &:is(.mobile-obraz) {
            background-position: 0 30%;
            background-image: url('pic/obraz.png');
        }
    }
}

.really {
    grid-area: really;
}

.text {
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;

    &:is(.gray) {
        color: #6D6D6D;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 900px) {
    .biggest {
        max-width: 658px;
        grid-template-rows: repeat(8, 140px);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "shop really buy"
            "shop big big"
            "humor big big"
            "chose chose memory"
            "obraz obraz obraz"
            "obraz obraz obraz"
            "bubbles bubbles bubbles"
            "bubbles bubbles bubbles";
    }
}

@media (max-width: 500px) {
    .biggest {
        max-width: 359px;
        gap: 8px;
        grid-template-rows: repeat(11, 116px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "shop shop"
            "shop shop"
            "humor humor"
            "really buy"
            "big big"
            "big big"
            "chose memory"
            "obraz obraz"
            "obraz obraz"
            "bubbles bubbles"
            "bubbles bubbles";
    }
}